#header
  background: color-header-background
  padding-bottom: nav-height
  position: relative

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative

#header-title
  clearfix()
  text-align: left
  padding: 30px 30px
  .logo-wrap, .subtitle-wrap
    padding: 0px
  .subtitle-wrap
    padding: 0px
  .subtitle
    font-size: 16px
    font-style: italic
    color: color-nav-foreground
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
